@charset "utf-8";

@import url(font-awesome.min.css);

@import url(layout-bootstrap.css);
/*
@font-face {
	font-family: ngeot;
	src: url(../assetsin/admin/fonts/NanumGothic.eot);
}

@font-face {
	font-family: ngeotBold;
	src: url(../assetsin/admin/fonts/NanumGothicExtraBold.eot);
}

@font-face {
	font-family: ngttf;
	src: url(../assetsin/admin/fonts/NanumGothic.ttf);
}

@font-face {
	font-family: ngttfBold;
	src: url(../assetsin/admin/fonts/NanumGothicExtraBold.ttf);
} */