@charset "utf-8";

@font-face {
 font-family: 'Hana';
 font-weight: 400;
 src: url(/asset/mob/fonts/HanaM.woff) format('woff');
}
@font-face {
 font-family: 'Hana';
 font-weight: 600;
 src: url(/asset/mob/fonts/HanaB.woff) format('woff');
}
